<div class="intro">
    <h1>Paragon Hero Stats</h1>
    <p>The site is heavily in early development and is nowhere near finished. It uses data directly from the Paragon API, which is then formatted and presented. Some calculations are done on this site, such as attacks per second, dps, and burst damage.</p>
    <p>Last updated: 10 May 17</p>
    <h2>Planned Future Features</h2>
    <p>In no particular order:</p>
    <ul>
        <li>Be able to order heroes by attack speed, power, health, etc. while applying your filters</li>
        <li>Have detailed hero ability information including cooldowns, scaling, stun durations, damage, etc.</li>
        <li>Make the line bar labels look better on firefox</li>
        <li>Account for armour and penetration in dps/burst calculations, likely by adding sliders for pen and armour (be warned, right now no penetration or armour is accounted for)</li>
        <li>Make burst damage only show damage for abilities that are either instant or the damage you can do with them over ~5 seconds rather than their full duration. Right now burst damage is calculated based on the full duration of the ability, so Iggy for example has high burst damage because it assumes you take all the damage from one of his turrets.</li>
        <li>Make ability sliders to change ability levels, right now it assumes all abilities are max level, even if your character is level 1</li>
        <li>Address any issues with specific heroes not fitting the norm, for example Belica's ult damage currently is not added to dps or burst damage since it does 0 damage if an enemy hero has full mana</li>
        <li>Add non hero data such as cxp for minion kills, tower health, etc.</li>
        <li>Add movement speeds</li>
        <li>Show the differences in the stats between updates</li>
        <li>Dragging and dropping heroes to re-order them</li>
    </ul>
</div>
<div class="selected-hero">
    <div class="basic-info">
        <div class="portrait">
            <img src="{{selectedHero._data.images}}" alt="{{selectedHero._data.name}} Portrait">
        </div>
        <div class="name">
            <p>{{selectedHero._data.name}}</p>
        </div>
    </div>
    <div class="abilities">
        <div class="ability ability--1">
            <div class="ability__hotkeys">
                <div class="hotkey hotkey--pc">
                    <p>LMB</p>
                </div>
                <div class="hotkey hotkey--potato">
                    <p>R2</p>
                </div>
            </div>
            <div class="ability__icon">
                <img src="{{selectedHero._data.abilities.[0].images.icon}}" alt="Basic Attack Icon">
            </div>
            <div class="ability__name">
                <p>{{selectedHero._data.abilities.[0].name}}</p>
            </div>
            <div class="ability__damage">
                <p><span>{{selectedHero._data.currentBasicDamage}}</span></p>
            </div>
        </div>
        <div class="ability ability--2">
            <div class="ability__hotkeys">
                <div class="hotkey hotkey--pc">
                    <p>RMB</p>
                </div>
                <div class="hotkey hotkey--potato">
                    <p>?</p>
                </div>
            </div>
            <div class="ability__icon">
                <img src="{{selectedHero._data.abilities.[1].images.icon}}" alt="Ability 1 Icon">
            </div>
            <div class="ability__name">
                <p>{{selectedHero._data.abilities.[1].name}}</p>
            </div>
            <div class="ability__damage">
                <p><span>{{selectedHero._data.currentAbility1Damage}}</span></p>
            </div>
            <div class="ability__level">
                <div class="decrement">
                    <button {{action 'decrementAbilityLevel' 1}}>-</button>
                </div>
                <div class="level">
                    <p>{{ability1Level}}</p>
                </div>
                <div class="increment">
                    <button class="inactive" {{action 'incrementAbilityLevel' 1}}>+</button>
                </div>
            </div>
        </div>
        <div class="ability ability--3">
            <div class="ability__hotkeys">
                <div class="hotkey hotkey--pc">
                    <p>Q</p>
                </div>
                <div class="hotkey hotkey--potato">
                    <p>?</p>
                </div>
            </div>
            <div class="ability__icon">
                <img src="{{selectedHero._data.abilities.[2].images.icon}}" alt="Ability 2 Icon">
            </div>
            <div class="ability__name">
                <p>{{selectedHero._data.abilities.[2].name}}</p>
            </div>
            <div class="ability__damage">
                <p><span>{{selectedHero._data.currentAbility2Damage}}</span></p>
            </div>
            <div class="ability__level">
                <div class="decrement">
                    <button {{action 'decrementAbilityLevel' 2}}>-</button>
                </div>
                <div class="level">
                    <p>{{ability2Level}}</p>
                </div>
                <div class="increment">
                    <button class="inactive" {{action 'incrementAbilityLevel' 2}}>+</button>
                </div>
            </div>
        </div>
        <div class="ability ability--4">
            <div class="ability__hotkeys">
                <div class="hotkey hotkey--pc">
                    <p>E</p>
                </div>
                <div class="hotkey hotkey--potato">
                    <p>?</p>
                </div>
            </div>
            <div class="ability__icon">
                <img src="{{selectedHero._data.abilities.[3].images.icon}}" alt="Ability 3 Icon">
            </div>
            <div class="ability__name">
                <p>{{selectedHero._data.abilities.[3].name}}</p>
            </div>
            <div class="ability__damage">
                <p><span>{{selectedHero._data.currentAbility3Damage}}</span></p>
            </div>
            <div class="ability__level">
                <div class="decrement">
                    <button {{action 'decrementAbilityLevel' 3}}>-</button>
                </div>
                <div class="level">
                    <p>{{ability3Level}}</p>
                </div>
                <div class="increment">
                    <button class="inactive" {{action 'incrementAbilityLevel' 3}}>+</button>
                </div>
            </div>
        </div>
        <div class="ability ability--5">
            <div class="ability__hotkeys">
                <div class="hotkey hotkey--pc">
                    <p>R</p>
                </div>
                <div class="hotkey hotkey--potato">
                    <p>?</p>
                </div>
            </div>
            <div class="ability__icon">
                <img src="{{selectedHero._data.abilities.[4].images.icon}}" alt="Ultimate Icon">
            </div>
            <div class="ability__name">
                <p>{{selectedHero._data.abilities.[4].name}}</p>
            </div>
            <div class="ability__damage">
                <p><span>{{selectedHero._data.currentUltimateDamage}}</span></p>
            </div>
            <div class="ability__level">
                <div class="decrement">
                    <button {{action 'decrementAbilityLevel' 4}}>-</button>
                </div>
                <div class="level">
                    <p>{{ultimateLevel}}</p>
                </div>
                <div class="increment">
                    <button class="inactive" {{action 'incrementAbilityLevel' 4}}>+</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sliders">
    <div class="slider slider--level">
        <p>Hero Level:</p>
        <input type="range" value={{heroLevel}} min="1" max="15" step="1" oninput={{action 'heroLevelSlider' value="target.value"}} onchange={{action 'heroLevelSlider' value="target.value"}}>
        <div class="value">{{input value=heroLevel min="1" max="15" enter="heroLevelSlider"}}</div>
    </div>
    <div class="slider slider--power">
        <p>Power CP:</p>
        <input type="range" value={{cpPower}} min="0" max="66" step="1" oninput={{action 'cpPowerSlider' value="target.value"}} onchange={{action 'cpPowerSlider' value="target.value"}}>
        <div class="value">{{input value=cpPower maxlength="2" min="0" max="66" enter="cpPowerSlider"}}</div>
    </div>
    <div class="slider slider--attack-speed">
        <p>Attack Speed CP:</p>
        <input type="range" value={{cpAttackSpeed}} min="0" max="66" step="1" oninput={{action 'cpAttackSpeedSlider' value="target.value"}} onchange={{action 'cpAttackSpeedSlider' value="target.value"}}>
        <div class="value">{{input value=cpAttackSpeed maxlength="2" min="0" max="66" enter="cpAttackSpeedSlider"}}</div>
    </div>
</div>
<div class="filter">
    <button class="filter__trait" onclick={{action 'toggleFilter' 'assassin'}}>Assassin</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'attacker'}}>Attacker</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'burst'}}>Burst</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'controller'}}>Controller</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'durable'}}>Durable</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'elusive'}}>Elusive</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'ganker'}}>Ganker</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'guardian'}}>Guardian</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'initiator'}}>Initiator</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'marauder'}}>Marauder</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'sieger'}}>Sieger</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'wild'}}>Wild</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'zoner'}}>Zoner</button>
</div>
<div class="reset">
    <button class="btn btn--reset" {{action 'resetFilters'}}>Reset Filters</button>
    <button class="btn btn--reset" {{action 'resetHeroes'}}>Undelete Heroes</button>
</div>
<div class="heroes">
    {{#each filteredHeroes as |hero index|}}
    {{#if hero._data.Active}}
    <div class="hero" title="{{hero._data.traits}}" {{action "selectHero"}}>
        <button class="remove-hero" {{action "removeHero"}}>x</button>
        <div class="basics">
            <div class="portrait">
                <img src="{{hero._data.images}}" alt="{{hero._data.name}} Portrait">
            </div>
            <div class="name">
                <p>{{hero._data.name}}</p>
            </div>
        </div>
        <div class="advanced">
            {{heroes-bar-stat heroData=hero._data maxAps=maxAps minAps=minAps maxDps=maxDps minDps=minDps maxBurst=maxBurst minBurst=minBurst updatedStats=updatedStats}}
            <div class="attributes">
                <div class="pre-stat-indicator pre-stat-indicator--aps">
                    <div class="label"></div>
                    <p>Attacks per second: {{hero._data.AttacksPerSecond}}</p>
                </div>
                <div class="pre-stat-indicator pre-stat-indicator--dps">
                    <div class="label"></div>
                    <p>Damage per second: {{hero._data.DamagePerSecond}}</p>
                </div>
                <div class="pre-stat-indicator pre-stat-indicator--burst">
                    <div class="label"></div>
                    <p>Burst Damage: {{hero._data.BurstDamage}}</p>
                </div>
                <div class="attribute attribute--basic-scaling">
                    <p>Basic Scaling: {{hero._data.abilities.[0].modifiersByLevel.[0].attackratingcoefficient}}</p>
                </div>
                <div class="attribute attribute--health">
                    <p>Health: {{hero._data.CurrentHealth}}</p>
                </div>
                <div class="attribute attribute--energy">
                    <p>Energy: {{hero._data.CurrentEnergy}}</p>
                </div>
                <div class="attribute attribute--health-regen">
                    <p>Health Regen: {{hero._data.CurrentHealthRegen}}</p>
                </div>
                <div class="attribute attribute--energy-regen">
                    <p>Energy Regen: {{hero._data.CurrentEnergyRegen}}</p>
                </div>
                <div class="attribute attribute--basic-armour">
                    <p>Basic Armour: {{hero._data.CurrentBasicArmour}}</p>
                </div>
                <div class="attribute attribute--ability-armour">
                    <p>Ability Armour: {{hero._data.CurrentAbilityArmour}}</p>
                </div>
                <div class="attribute attribute--release-date">
                    <p>Released: {{hero._data.releaseDate}}</p>
                </div>
            </div>
            <!--#each hero._data.attributesByLevel as |stat|
            <p>{{stat.BaseAttackTime}}</p>
            /each-->
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>