<h1>Heroes</h1>
<p>Add a filter to sort by traits at the top</p>
<p>Assassin</p>
<p>Attacker</p>
<p>Burst</p>
<p>Controller</p>
<p>Durable</p>
<p>Elusive</p>
<p>Ganker</p>
<p>Guardian</p>
<p>Initiator</p>
<p>Marauder</p>
<p>Sieger</p>
<p>Wild</p>
<p>Zoner</p>
<p>Be able to order heroes by attack speed and other traits</p>
<div class="heroes">
    {{#each testArray1 as |hero index|}}
    <div class="hero">
        <div class="basics">
            <div class="portrait">
                <img src="{{hero._data.images}}" alt="Hero image">
            </div>
            <div class="name">
                <p>{{hero.id}}</p>
                <p>{{hero._data.name}}</p>
            </div>
        </div>
        <div class="advanced">
            {{heroes-bar-stat aps=hero._data.AttacksPerSecond maxAps=maxAps minAps=minAps}}
            <p>Attacks per second: {{hero._data.AttacksPerSecond}}</p>
            <p>Damage per second: {{hero._data.DamagePerSecond}}</p>
            <p>Burst Damage: {{hero._data.BurstDamage}}</p>
            <!--#each hero._data.attributesByLevel as |stat|
            <p>{{stat.BaseAttackTime}}</p>
            /each-->
        </div>
    </div>
    {{/each}}
</div>