<p>Be able to order heroes by attack speed and other traits</p>
<div class="filter--clear-all">
    <button {{action 'clearAll'}}>Clear All</button>
</div>
<div class="filter">
    <button class="filter__trait" onclick={{action 'toggleFilter' 'assassin'}}>Assassin</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'attacker'}}>Attacker</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'burst'}}>Burst</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'controller'}}>Controller</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'durable'}}>Durable</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'elusive'}}>Elusive</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'ganker'}}>Ganker</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'guardian'}}>Guardian</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'initiator'}}>Initiator</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'marauder'}}>Marauder</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'sieger'}}>Sieger</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'wild'}}>Wild</button>
    <button class="filter__trait" onclick={{action 'toggleFilter' 'zoner'}}>Zoner</button>
</div>
<div class="heroes">
    {{#each filteredHeroes as |hero index|}}
    <div class="hero">
        <div class="basics">
            <div class="portrait">
                <img src="{{hero._data.images}}" alt="Hero image">
            </div>
            <div class="name">
                <p>{{hero._data.name}}</p>
            </div>
        </div>
        <div class="advanced">
            {{heroes-bar-stat heroData=hero._data maxAps=maxAps minAps=minAps maxDps=maxDps minDps=minDps maxBurst=maxBurst minBurst=minBurst }}
            <p>Attacks per second: {{hero._data.AttacksPerSecond}}</p>
            <p>Damage per second: {{hero._data.DamagePerSecond}}</p>
            <p>Burst Damage: {{hero._data.BurstDamage}}</p>
            <!--#each hero._data.attributesByLevel as |stat|
            <p>{{stat.BaseAttackTime}}</p>
            /each-->
        </div>
    </div>
    {{/each}}
</div>